@media screen and (max-width: 800pt) {
  body {  
   }
   aside{
   	display: none;
   }
   a{
	text-decoration: none;
	color: white;
}

.nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 40px;
	background-color: darkblue;
	color: white;
	border: 2px solid black;	
}

header{
	background-color: yellow ;
	color: black;
	height: 100px;
	display: flex;
	justify-content: center;
	font-size: 60px;
	padding-top: 20px;
}

.stor{
	display: flex;
	flex-direction: row;
}
}
@media screen and (min-width: 801pt) {
  body {  
}
	a{

	text-decoration: none;
	color: white;
}

.nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 40px;
	background-color: darkblue;
	color: white;
	border: 2px solid black;	
	

}

header{
	background-color: yellow ;
	color: black;
	height: 100px;
	display: flex;
	justify-content: center;
	font-size: 60px;
	padding-top: 20px;
}

.stor{
	display: flex;
	flex-direction: row;
}

aside{
	background-color: gray;
}


}
}




